* {
  min-height: 0px;
  min-width: 0px;
  font-family: Lexend, "JetBrainsMono NFP";
  font-size: 12px;
  font-weight: 600;
  
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0s;
  
  background-color: #2e2e2e; /* Darker gray background */
}

#workspaces button {
  padding: 0.0rem 0.4rem;
  margin: 3px 0.1rem;
  border-radius: 6px;
  background-color: #4e4e4e; /* Medium gray */
  color: #e0e0e0; /* Light gray text */
}

#workspaces button:hover {
  color: #4e4e4e; /* Match background */
  background-color: #e0e0e0; /* Lighter gray */
}

#workspaces button.active {
  background-color: #707070; /* Slightly lighter gray */
  color: #ffffff; /* White text */
}

#workspaces button.urgent {
  background-color: #707070; /* Same as active */
  color: #ff6f61; /* Highlight color */
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#memory,
#window,
#mpris {
  padding: 0.0rem 0.4rem;
  margin: 0.2rem 0.2rem;
  border-radius: 6px;
  background-color: #4e4e4e; 
}

#mpris.playing {
  color: #f0f0f0; 
}

#mpris.paused {
  color: #b0b0b0; 
}

#custom-sep {
  padding: 0px;
  color: #e0e0e0; 
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  color: #e0e0e0; 
}

#memory {
  color: #e0e0e0; 
}

#clock {
  color: #e0e0e0; 
}

#clock.simpleclock {
  color: #e0e0e0; 
}

#window {
  color: #e0e0e0; 
}

#pulseaudio {
  color: #e0e0e0; 
}

#pulseaudio.muted {
  color: #e0e0e0; 
}

#custom-logo {
  color: #e0e0e0; 
}

#custom-power {
  color: #e0e0e0; 
}

tooltip {
  background-color: #3c3c3c; /* Darker gray for tooltips */
  border: 2px solid #89b4fa; /* Highlight color */
}
